* {
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
h1{
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}
  
aside{
    float: left;
}
main {
    margin-left: 200px;
    float: left;
}
  