* {
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
h1{
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.clearfix::after {
    content: " ";
    display: inline-block;
    clear: both;
}
  
aside{
    float: left;
}
main {
    margin-left: 500px;

}

#forecast-goes-here-0, #forecast-goes-here-1, #forecast-goes-here-2, #forecast-goes-here-3, #forecast-goes-here-4{
    float: left;
    margin-left: 20px;
    background-color: rgb(46, 46, 241);
    color: white;
    font: icon;
    width: 200px;
    text-align: center;
    line-height: 50px;
}

.card-group{
    margin-left: 500px;
}


  